* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    box-sizing: border-box;
    background-color: whitesmoke;
}

.login-container {
    text-align: center;
    width: 350px;
    height: 230px;
    background-color: #ffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.signup-container {
    text-align: center;
    width: 350px;
    height: 430px;
    background-color: #ffff;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2), -5px -5px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 5px;
}

.title {
    margin-bottom: 30px;
}

input {
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid gray;
    border-radius: 5px;
    box-sizing: border-box;
}

input:focus {
    border: 1px solid blue;
}

#btnLogin {
    width: 100%;
    height: 40px;
    background-color: #007BFF;
    color: #ffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

#btnLogin:hover {
    cursor: pointer;
}

#btnSignup {
    width: 100%;
    height: 40px;
    background-color: #007BFF;
    color: #ffff;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
}

.fb-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    color: #ffff;
    background-color: #0866ff;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.fb-logo {
    display: flex;
    width: 32px;
    height: 32px;
}

.fb-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: transparent;
    border: none;
    color: #ffff;
}

.google-container {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 100%;
    height: 40px;
    border: 1px solid gray;
    border-radius: 5px;
    color: #000;
    background-color: #ffff;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.google-logo {
    display: flex;
    width: 28px;
    height: 28px;
}

.google-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: transparent;
    border: none;
    color: #000;
}

#btnSignup,
#btnLogin,
.fb-container,
.fb-button,
.google-container,
.google-button {
    cursor: pointer;
}

#btnSignup:hover,
#btnLogin:hover,
.fb-container:hover,
.google-container:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.password-container {
    position: relative;
    display: flex;
    align-items: center;
}

.password-container input {
    width: 100%;
    padding-right: 30px;
}

.toggle-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}

p {
    font-size: .8rem;
    margin-bottom: 20px;
}

p a {
    color: blue;
    text-decoration: none;
}

.separator {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 10px 0;
}

.separator hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #000;
}